:root {
  --color1: rgb(64, 64, 145);
  --color1_deep: rgb(5, 5, 71);
  --color2: aliceblue;
}
$text1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$text2: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
