@import "colors";

.navBtn {
  display: none;
  background: transparent;
  border: none;
  position: sticky;
  left: 2vmax;

  z-index: 1000;
  cursor: pointer;

  > svg {
    // border: 2px solid white;
    height: 25px;
    width: 30px;
    background: transparent;
    color: rgb(141, 206, 250);

    &:hover {
      color: var(--color1_deep);
    }
  }
}

nav {
  // border: 2px solid black;
  position: sticky;
  padding: 2px 0;
  // top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2vmax;
  background-color: aliceblue;
  z-index: 1;

  > .nav_others {
    width: 100%;
    margin-right: 2vmax;
    gap: 1.5vmax;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;

    .search_btn {
      background: transparent;
      border: none;
      &.active {
        border-bottom: 2px solid var(--color1);
        transform: scale(1.07);
      }
      svg {
        height: 25px;
        width: 25px;
        color: var(--color1);
        cursor: pointer;
        &:hover {
          color: var(--color1_deep);
        }
      }
    }
    .searchGroup {
      display: none;
      justify-content: center;
      // border: 2px solid red;
      max-width: fit-content;
      position: absolute;
      right: 20%;
      &.searchOpen {
        display: block;
        animation: rightToLeft 0.6s linear alternate;
      }

      > input {
        width: 300px;
        height: 20px;
        // background-color: rgba(87, 73, 73, 0.562);
        border: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0.507);
        text-align: center;
        outline: none;
        // border: none;
        padding: 6px 1px;
        border-radius: 5px;
        color: black;
        font: 500 1rem $text1;
        transition: all 0.3s ease-in;
      }
      > button {
        border: none;
        padding: 6px 3px;
        border-radius: 0 5px 5px 0;
        height: 33px;
        background-color: rgba(63, 224, 125, 0.6);
        color: white;
        font: 500 1rem $text1;
        cursor: pointer;
        &:hover {
          background-color: rgba(42, 184, 96, 0.6);
        }
      }
    }
    .nav-link {
      // border: 2px solid black;
      outline: none;
      text-decoration: none;
      color: var(--color1);
      transition: all 0.3s ease;
      &.active {
        border-bottom: 2px solid var(--color1);
        transform: scale(1.07);
      }
      > svg {
        height: 25px;
        width: 25px;
        &:hover {
          color: var(--color1_deep);
        }
      }
    }
    .cart_count {
      position: absolute;
      top: 19px;
      right: 27px;
      background: green;
      color: white;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 12px;
    }
  }
}
