.productDetails {
  h1 {
    font: 600 2.5rem $text1;
    margin-top: 1vmax;
    text-align: center;
    // border: 1px solid black;
  }
  #back {
    position: relative;
    top: 0;
    padding: 4px 8px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    > svg {
      height: 30px;
      width: 30px;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    width: fit-content;
    margin: 5vmax;
    border-radius: 30px;
    // background-color: rgb(202, 74, 74);
    background-color: rgb(204, 190, 241);
    > section {
      display: grid;
      grid-template-columns: repeat(1fr, 2);
      // border: 2px solid crimson;
      padding: 30px 50px;

      &:first-of-type {
        // border: 2px solid red;
        padding-top: 0px;
        height: 520px;
        width: 550px;
        // margin-right: 2vmax;
        perspective: 3000px;
        border: 2px solid rgb(204, 190, 241);
        background-color: rgb(204, 190, 241);
        // background-color: rgb(248, 235, 213);
        // background-color: antiquewhite;

        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: scale3d(1.3, 1.3, 1.5) rotateZ(-5deg) rotateY(17deg);
          }
        }
      }
      &:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: antiquewhite;

        #pro_name {
          text-align: left;
          font: 650 1.5rem $text1;
          border-bottom: 1px solid black;
        }
        p {
          font: 550 0.9rem $text2;
          letter-spacing: 1px;
          word-wrap: break-word;
          word-spacing: 2px;
        }
        span {
          font: 550 1rem cursive;
          // border: 1px solid gold;
          width: 50%;
          padding: 5px 10px;
          border-radius: 20px;
          color: crimson;
          background-color: rgb(253, 218, 176);
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            transform: scale(1.05);
          }
        }
        h3 {
          font: 550 1.4rem $text1;
        }
        h4 {
          font: 500 1.1rem $text1;
        }
        #flavor {
          font: 550 0.9rem $text1;
        }
        #grind {
          font: 600 0.8rem $text2;
        }
        .cart_btn {
          padding: 8px;
          width: 100px;
          background: transparent;
          border-radius: 20px;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            border: none;
            background-color: crimson;
            > svg {
              color: white;
            }
          }
          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
